@using Microsoft.AspNet.Identity
@model EbookWebApp.ViewModels.BookViewModel

@{
    ViewBag.Title = "Get";
}


<h2>Dear @User.Identity.GetUserName(),</h2>
<h4>Do you want to get :</h4>

<hr />
<br/>
<table class="table margin-top-20">
    <tr class="table-warning">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.Author)
        </td>
        <td>
            @Html.DisplayFor(model => model.Genre)
        </td>
    </tr>
</table>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="modal-footer">
        @Html.ActionLink("No", "Index", "Book", new {@class = "btn btn-secondary" })

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Yes" class="btn btn-default" />
    }
</div>

