<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        @Html.ActionLink("e-Book Store!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Order Manager", "OrderManage", "Order", new { area = "" }, new { @class = "nav-link" })
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Your orders", "Index", "Order", new { area = "" }, new { @class = "nav-link" })
                    </li>
                }
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
