@using Microsoft.AspNet.Identity
@model IEnumerable<EbookWebApp.ViewModels.BookViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="row margin-top-30">
    <div class="col-md-12 text-center">
        <p class="lead movie-logo "> e-Book Store </p>
    </div>
</div>


@using (Html.BeginForm(new { @class = "form-inline" }))
{
    <input class="form-control mr-sm-2  d-inline" id="SearchString" name="SearchString" type="text" placeholder="Search">
    @Html.DropDownList("bookGenre", null, "All", new { @class = "form-control mr-sm-2  d-inline" })
    <button class="btn btn-secondary my-2 my-sm-0 d-inline" type="submit">Submit</button>
}


<table class="table margin-top-20">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSortParm })
        </th>
        <th>
            
        </th>
        <th>
            @Html.ActionLink("Release date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overall)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>

            <td>
                @Html.Partial("_Rating", item)
            </td>

            @if (Request.IsAuthenticated)
            {
                <td>

                    <button type="button" class="btn btn-primary">
                        @Html.ActionLink("Get!", "Get", "Order", new { id = item.Id, @class = "nav-link" }, "")
                    </button>

                  
                </td>
            }
            else
            {
                <td>
                    <button type="button" class="btn btn-primary">
                        @Html.ActionLink("Get!", "Login", "Account", new { id = item.Id, @class = "nav-link" }, "")
                    </button>
                </td>
            }
            @*<td>
                 @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                 @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                 @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>*@
        </tr>
    }

</table>

@Html.ActionLink("Create New", "Create")
